* {
    box-sizing: border-box;
}
body,html {
    margin: 0;
    padding: 0;
    /* background-color: aliceblue;  */
    background-image: url(/assets/7c461714c634c24601deead4205b5741.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
h1 {
    text-align: center;
}
#gameArea {
    border: 4px solid green;
}
